@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>'t Skoepke</h1>
    <p class="lead">Welkom bij bootverhuur <i>'t Skoepke</i>!</p>
    <p><a href="@Url.Action("Index", "Rent")" class="btn btn-primary btn-lg">Nu Huren</a>
    </p>
</div>